[submodule "estate-web"]
	path = estate-web
	url = https://github.com/DatHoQuoc/estate-web/
[submodule "listing-service"]
	path = listing-service
	url = https://github.com/DatHoQuoc/listing-service
[submodule "credit-service"]
	path = credit-service
	url = https://github.com/turtlenam05/credit-service
[submodule "estate-users"]
	path = estate-users
	url = https://github.com/the3dit0r/estate-users
[submodule "Reporting-Service"]
	path = Reporting-Service
	url = https://github.com/hoangnd-ctrl/Reporting-Service
